{% extends 'base.html' %}

{% load static %}

{% block body %}
    <!-- Content -->
  <div id="content">

    <!-- Papular Companies -->
    <section class="padding-bottom-100">
      <div class="compny-profile user-profile">
        <!-- SUB Banner -->
        <div class="profile-bnr">
          <div class="container">

            <!-- User Iinfo -->
            <div class="user-info">
              <div class="">
                <div class="user-in">
                  {% if Profile.image.url %}
                  <div class="pro-avatar" > <img src="{{ Profile.image.url }}"  alt="" class="img-responsive" > </div>
                  {% endif %}
                  <h1>{{ Profile.name }}
                  <h6>{{ Profile.profile_title }}</h6>
                  <div class="social-links">
                    {% if Profile.fb_link %}
                    <a href="professional-details.html#."><i class="fab fa-facebook-f"></i></a>
                    {% endif %}

                    {% if Profile.insta_link %}
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    {% endif %}

                    {% if Profile.linked_In_link %}
                    <a href="professional-details.html#."><i class="fab fa-linkedin-in"></i></a>
                    {% endif %}
                    </div>

                  <!-- Followers -->

                </div>
              </div>
            </div>
          </div>

          <!-- Modal POPUP -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <h6><a class="close" href="professional-details.html#." data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> Send Message</h6>
                <!-- Forms -->
                <form action="#">
                  <ul class="row">
                    <li class="col-md-6">
                      <input type="text" placeholder="First Name" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Last Name" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Country" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Email" class="form-control">
                    </li>
                    <li class="col-md-12">
                      <textarea placeholder="Your Message" class="form-control"></textarea>
                    </li>
                    <li class="col-md-12 text-center">
                      <button class="btn">Send message</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Profile Company Content -->
        <div class="profile-company-content main-user">
          <div class="container">

            <!-- Nav Tabs -->

            <div class="row">
              <!-- SIDE BAR -->
              <div class="col-lg-4">

                <!-- Company Information -->
                <div class="sidebar">

                  <!-- Heading for mobile Collapse -->
                  <h5 class="main-title margin-bottom-30">User Information</h5>
                  <div class="navbar-expand-lg">
                    <!-- Heading for mobile Collapse -->
                    <a class="collapsed main-title fr-mob" data-toggle="collapse" data-target="#cmpny-info" aria-expanded="false"> User Information </a>
                    <div class="collapse navbar-collapse" id="cmpny-info">
                      <div class="side-bar-indide">

                        <!-- Company Information -->
                        <div class="sidebar-information">
                          <ul class="single-category">
                            <li>
                              <h6 class="title">Name</h6>
                              <span class="subtitle">{{Profile.name}}</span>
                            </li>
                            <li>
                              <h6 class="title">Age</h6>
                              <span class="subtitle"></span>
                            </li>
                            {% if Profile.location %}
                            <li>
                              <h6 class="title">Location</h6>
                              <span class="subtitle">{{Profile.location}}</span>
                            </li>
                            {% endif %}
                            {% if Profile.experiance %}
                            <li>
                              <h6 class="title">Experiance</h6>
                              <span class="subtitle">{{Profile.experiance}}</span>
                            </li>
                            {% endif %}
                            {% if Profile.degree %}
                            <li>
                              <h6 class="title">Degree</h6>
                              <span class="subtitle">{{Profile.degree}}</span>
                            </li>
                            {% endif %}
                            <li>
                              <h6 class="title">Phone</h6>
                              <span class="subtitle">{{Profile.whatsapp_number}}</span>
                            </li>
                            {% if Profile.email %}
                            <li>
                              <h6 class="title">Email</h6>
                              <div class="subtitle"><a href="professional-details.html#.">{{Profile.email}}</a> </div>
                            </li>
                            {% endif %}
                            {% if Profile.website %}
                            <li>
                              <h6 class="title">Website</h6>
                              <div class="subtitle"> <a href="{{Profile.website}}" target="_blank">{{Profile.website}}</a> </div>
                            </li>
                            {% endif %}
                            {% if Profile.fb_link %}
                            <li>
                              <h6 class="title">Facebook</h6>
                              <div class="subtitle"> <a href="{{Profile.fb_link}}" target="_blank">{{Profile.fb_link}}</a> </div>
                            </li>
                            {% endif %}
                            {% if Profile.insta_link %}
                            <li>
                              <h6 class="title">Instagram</h6>
                              <div class="subtitle"> <a href="{{Profile.insta_link}}" target="_blank">{{Profile.insta_link}}</a> </div>
                            </li>
                            {% endif %}
                            {% if Profile.linked_In_link %}
                            <li>
                              <h6 class="title">Facebook</h6>
                              <div class="subtitle"> <a href="{{Profile.linked_In_link}}" target="_blank">{{Profile.linked_In_link}}</a> </div>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Company Rating -->
                <div class="">

                </div>
              </div>

              <!-- Tab Content -->
              <div class="col-lg-8">
                <div class="tab-content">
                  <!-- Contact -->
    <section class="bg-white padding-bottom-100 padding-top-100">
      <div class="container">

        <!-- Cpntact Form -->
        <div class="contact-form">
          <center><span class="h3">Welcome {{ Profile.name }}!</span></center>
          <div class="heading-block text-center"> <span class="h2">Post your Thoughts</span> </div>
          <form action="{% url 'new_post' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="row">
              <li class="col-md-6">
                <label>Blog Title*
                  {{ form.blog_title }}
                </label>
              </li>

               <li class="col-md-12">
                <label>Blog Content*
                  {{ form.blog_content }}
                </label>
              </li>

              <li class="col-md-6">
                <label>Blog Image
                  {{ form.blog_image }}
                </label>
              </li>
              <li class="col-md-6">
                <label>Blog Files(any files)
                  {{ form.blog_files }}
                </label>
              </li>

               <li class="col-md-12">
                <label>Youtube Videos
                  {{ form.youtube_videos }}
                </label>
              </li>



              <li class="col-md-12 text-center">
                <button type="submit" class="btn btn-grident">Post</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </section>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- WHAT OUR USERS SAY -->
    
  </div>

{% endblock %}



